<div class="container mt-4">
    <table class="table table-striped">
        {{#each contacts}}
            {{> contact}}
        {{/each}}
    </table>

    <a href="/add" class="btn btn-secondary">Добавить</a>
</div>
