<tr class="contact" data-key="{{id}}">

    <td>
        <a href="/edit/{{id}}" class="text-reset text-decoration-none fw-bold disabled-link">
            {{name}}
        </a>
    </td>

    <td>
        {{phone}}
    </td>

</tr>
