<!DOCTYPE html>

<head>
    <title>Lab20</title>
    <meta charset="UTF-8">
    <link href="/public/bootstrap.min.css" type="text/css" rel="stylesheet">    
</head>

<body>
<div class="container">
    {{{body}}}
</div>
<script src="../script.js"></script>
</body>

</html>